$dark: #242526;
$background: #18191A;
$brand-color: #0F75E0;
$brand-color-2: #10BAE0;

* {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background-color: $background;
    margin: 10px;
}

.body-wrapper {
    margin: 10px;
}

nav {
    border-radius: 6px;
    height: 60px;
    background-color: $dark;
    @extend .flex;
    justify-content: space-between;

    .logo-wrapper {
        margin: 12px;
        @extend .flex;

        h1 {
            max-width: 60px;
            font-size: 16px;
            margin-left: 10px;
            cursor: default;
        }
    
        .logo {
            @extend .flex;
            height: 40px;
            width: 40px;
            border-radius: 5px;
            transform: rotate(0deg);
            overflow: hidden;
    
            .logo-inside {
                @extend .flex;
                z-index: 2;
                width: 16px;
                height: 30px;
                border-radius: 4px;
                transform: translateX(7px);
                background-color: $dark;
            }

            .logo-bg {
                height: 50px;
                width: 50px;
                position: absolute;
                z-index: 1;
                background-image: linear-gradient($brand-color, $brand-color-2);
            }
    
        }

        &:hover {

            .logo {
                transition-delay: 0.4s;
                transition-duration: 0.4s;
                transform: rotate(180deg);
            }

            .logo-inside {
                transition-duration: 0.4s;
                transform: translateX(-7px);
            }

            .logo-bg {
                transition-delay: 0.4s;
                transition-duration: 0.4s;
                transform: rotate(180deg);
            }
        }

    }


}